:root {
  --clr-main: #fff;
  --clr-sub: #f6f3ed;
  --clr-detail: #dccdb9;
  --clr-gris: #b9b9b9;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #222;
}
/* Barra de desplazamiento */
*::-webkit-scrollbar { /* Para el track (barra de desplazamiento) */
  width: 10px; 
  background-color: var(--clr-main); 
}
textarea::-webkit-scrollbar {
  background-color: var(--clr-sub);
}
*::-webkit-scrollbar-thumb { /* Para el thumb (el coso de la barra de desplazamiento) */
  background-color: var(--clr-gris);
  border-radius: 6px; 
}
*::-webkit-scrollbar-thumb:hover { 
  background-color: #444; 
}
*::-webkit-scrollbar-thumb:active {
  background-color: #444; /* Color del deslizador al hacer clic en él */
}
textarea {
  border: none;
}
textarea:focus {
  outline: none;
}

.App {
  height: 100vh;
  width: 100%;
  min-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-main);
  padding-block: 2rem;
  gap: 1.5rem;
}
.editor-container, .preview-container {
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--clr-sub);
  min-width: 400px;
  height: 70vh;
  overflow: hidden;
  width: 40%;
}
.editor-header, .preview-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(20vh * 0.2);
  background-color: var(--clr-detail);
  padding-inline: 0.7rem;
}
#editor, #preview {
  padding-block: 0.7rem;
  font-size: 1rem;
  box-sizing: border-box;
  height: 94%;
}
#editor {
  background-color: var(--clr-sub);
  width: 100%;
  resize: none;
  padding-inline: 0.5rem;
}
#preview {
  background-color: var(--clr-sub);
  width: 100%;
  line-break: anywhere;
  padding-inline: 1rem;
  overflow-y: auto;
}
#preview::-webkit-scrollbar {
  background-color: var(--clr-sub);
}
#preview h1, #preview h2 {
  border-bottom: 1px solid var(--clr-detail);
}
#preview h1, #preview h2, #preview h3, #preview h4, #preview h5, #preview h6, #preview blockquote {
  margin-block: 1.5rem;
}
#preview p {
  margin-block: 1rem;
}
#preview ul, #preview ol {
  margin-inline-start: 1.5rem;
  margin-block: 0.5rem;
}
#preview blockquote {
  margin-inline-start: 1rem;
  padding-inline-start: 1rem;
  border-left: 3px solid var(--clr-detail);
}
#preview a {
  color: var(--clr-detail);
}
#preview img {
  width: 100%;
  height: auto;
  padding: 1rem;
}
#preview pre, #preview code {
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--clr-gris);
  font-style: italic;
}
#preview code {
  color: #c7254e;
}
#preview pre code {
  color: #000;
}
#preview pre {
  padding: 0.2rem;
  border-radius: 8px;
  padding: 0.7rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin-inline: 30px;
  margin-block: 1rem;
  font-weight: 500;
  overflow: hidden;
  overflow-x: auto;
  border: 2px solid var(--clr-gris);
}
pre::-webkit-scrollbar {
  background-color: var(--clre-gris);
  border-radius: 4px;
  height: 8px;
}
pre::-webkit-scrollbar-thumb { /* Para el thumb (el coso de la barra de desplazamiento) */
  background-color: var(--clr-detail);
  border-radius: 4px; 
}
pre::-webkit-scrollbar-thumb:hover { 
background-color: var(--clr-detail); 
}
pre::-webkit-scrollbar-thumb:active {
  background-color: var(--clr-detail); /* Color del deslizador al hacer clic en él */
}
#preview table {
  border-collapse: collapse;
  margin-block: 1rem;
}
#preview table, #preview th, #preview td {
  border: 2px solid #333;
  padding: .2rem .7rem;  
}
#preview thead {
  text-align: center;
}